/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    width:100vw;
    color: #444;
    background-color: #fff;
    box-sizing: border-box;
}
.structureWrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    /* width: 100%; */
   
}
.gridWrapper {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1186px;

}
.header {
    box-sizing: border-box;
   
    width: 100%;
    padding: 25px 0;
    background-color: darkblue;
    /* position: absolute;
    left:0;
    top:0; */
    /* display: block; */
}


.content {
    margin:0 auto; 
    padding: 50px ;
    flex: 1 1 0;
    max-width:1186px; 
    position:relative;
    
}
.content:before{
content:""; 
/* display:block; */
 width:2px;
height:100% ;
position:absolute;
left:1%;
top:0;
background:#c5c5c5;
overflow:hidden;
} 
 .content:after{
    content:"";
    /* display:block; */ 
    width:2px;
     height:100% ; 
    position:absolute;
   right:1%;
    top:0;
    background:#c5c5c5;
    
    } 

.footer {
    padding: 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    background-color: #333;
    width:100%;
   
}

/* Logo */
.logo {
    display: block;
    width: auto;
    height: 36px;
}
.logo:hover {
    opacity: .95;
    transition: 2s opacity;
}

/* Text */
.headline {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
}
.paragraph {
    margin-top: 0.5em;
}
.paragraph:first-of-type {
    margin-top: 0;
}


/* Fizz Buzz list */
#fizzBuzzList {
    margin:50px auto;
    text-align: center;
}
.fizzBuzzList__h2text{
position: relative;
width:100%;
height:auto;
font-weight:bold;
font-size:1.5rem;
border:2px solid white;
background:darkblue;
color:white;
text-align:center;

padding:25px;
box-sizing: border-box;
z-index:100;
}
.fizzBuzzList__h2text:after{
    position:absolute;
    width:40px;
    height:40px;
    border-top:0px solid white; 
    border-right:2px solid white; 
    border-left:0px solid white; 
    border-bottom:2px solid white; 
    content:"";
     top:105%;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
    background:darkblue;
    transform:rotate(45deg); 
  
}
.fizzBuzzList__fizzbutton{
margin:60px auto;
padding:1.2em 1.6em;
font-size:1.2rem;
background:#0b85e5;
color:#fff;

}
.fizzBuzzList__ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: #0077D5;
}
.fizzBuzzList__ul_li:nth-child(3n),:nth-child(5n):not(p){
    font-weight: 900;
    font-style: italic;
    color:darkblue;
}
@media screen and (max-width:526px){
    .header{
        display: block;
        position:absolute;
        left:0;
        top:0;
        width:100%;
    }

    .headline{
        font-size: 1.5rem;
        margin:0 auto;
        padding:2rem;
        width:50%;
    }
    .content{
        margin:0;
        max-width:600px;
      
    }
    #introductionText img{
    display: block;
   margin-left:auto;
   margin-right:auto;
   margin-top:30px;
    height:40px;
    width: 80%;
   
}
   
    .fizzBuzzList__ul {
        grid-template-columns: 1fr 1fr;
        grid-column-gap:5px;
        grid-row-gap:10px;
        margin:2px;
        padding:2px;
    } 
}




